<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="StackExchange.Redis"
				  publicKeyToken="c219ff1ca8c2ce46"
				  culture="en-us" />
				<!-- Assembly versions can be redirected in app,
          publisher policy, or machine configuration files. -->
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="2.5.61.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>